<%- include ('../partials/header.html'); -%>
		<title>ViewCompanyDetails</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
		<link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="../../css/tpo.css">
</head>
<body>
    <%- include ('partials/navbar.html'); -%>
    <br/><br/><br/><br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <hr class="hl1">
                <div class = "page-header bg-light">
                    <h1 class="text-center">
                        Company List
                    </h1>
                 </div>
                 <hr class="hl1"><br/>
            </div>
        </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Hrname</th>
                        <th>Email Address</th>
                        <th>Companyname</th>
                        <th>Website</th>
                        <th>City</th>
                        <th>CompanyType</th>
                        <th>Cinfo</th>
                        <th>MobileNo</th>
                        <th>Empl</th>
                    </tr> 
                </thead>
               <tbody>
                <%
                if(userData.length!=0){
                var i=1;
                userData.forEach(function(data){
                %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=data.hrname %></td>
                    <td><%=data.cemail %></td>
                    <td><%=data.cname %></td>
                    <td><%=data.cwebsite %></td>
                    <td><%=data.city %></td>
                    <td><%=data.ctype %></td>
                    <td><%=data.cinfo %></td>
                    <td><%=data.cmobileno %></td>
                    <td><%=data.empl %></td>
                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
               </tbody>
               <tfoot>
                <tr>
                    <th>S.N</th>
                    <th>Hrname</th>
                    <th>Email Address</th>
                    <th>Companyname</th>
                    <th>Website</th>
                    <th>City</th>
                    <th>CompanyType</th>
                    <th>Cinfo</th>
                    <th>MobileNo</th>
                    <th>Empl</th>
                </tr> 
               </tfoot>
            </table>
        </div>
        
    </div>
            
    </div>
    <div class="container-fluid">
        <br><br>
        <footer class="container-fluid text-center bg-light">
            <hr class="last">
            <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;<script>document.write(new Date().getFullYear())</script>&nbsp;By Placement Management System</p>
        </footer>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>